h1 {
  text-decoration: underline;
}
/*Menu topheader*/
.topHeader {
  position: fixed;
  background-color: #4e644d;
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.Menu-Horizontal li a {
  text-decoration: none;
  padding: 15px 20px;
  color: blue;
}

.Menu-Vertical {
  padding: 0;
  position: absolute;
  display: none;
  width: 200px;
  list-style: none;
}

.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}
.Menu-Vertical li a {
  display: block;
  color: black;
}

.Menu-Vertical li {
  background-color: yellow;
}

/*Hoja de estilos s11 clase*/
h1 {
  text-decoration: underline;
}

.seccion formulario {
  background-color: blue;
  padding: 40px;
  border: 5 px solid green;
  border-radius: 10 px;
  display: flex;
  justify-content: center;
  margin-bottom: 40 px;
}

.div cont formulario {
  background-color: blueviolet;
  padding: 40 px;
  border: 2px solid yellow;
  border-radius: 8 px;
  width: 100 px;
  max-width: 500 px;
}

.campo {
  background: rgb(140, 0, 255);
  padding: 15 px;
  margin-bottom: 15 px;
  border: 1 px solid brown;
  border-radius: 15 px;
}

.formulario label {
  display: block;
  color: red;
  font-weight: 600;
  margin-bottom: 8 px;
}

.formulario imput[type="text"],
.formulario select {
  width: 100%;
  padding: 10 px;
  border: 1.5 solid blue;
  border-radius: 5 px;
}

.formulario select {
  border: 1.4 px solid red;
}

.lista checkbox,
.lista radio {
  list-style: none;
  padding: 8px;
  background-color: hsl(350, 100%, 46%);
  border: 1 px solid blue;
  border-radius: 1.5 px;
}

.formulario bottom {
  background: white;
  border: 2 px solid rgb(140, 0, 255);
  border-radius: 3px;
  padding: 10px 20px;
  cursor: pointer;
}
