* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Opcional, pero muy recomendado */
}

h1 {
  text-decoration: underline;
  color: blueviolet;
}

/* --------------------------------- */
/* Menu topHeader (Navegación Fija) */
/* --------------------------------- */
.topHeader {
  position: fixed;
  background-color: #4e644d;
  width: 100%;
  /* Alto fijo para el header */
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;

  z-index: 1000;
}

.Menu-Horizontal {
  list-style: none;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.Menu-Horizontal li a {
  text-decoration: none;
  padding: 0.938rem 1.25rem;
  color: rgb(255, 254, 254);
  font-family: "Playwrite NZ Guides", cursive;
}

/* Submenú Vertical */
.Menu-Vertical {
  padding: 0;
  position: absolute;
  /* Inicialmente oculto */
  display: none;
  width: 12.5rem;
  list-style: none;
}

/* Muestra el submenú al pasar el ratón */
.Menu-Horizontal li:hover .Menu-Vertical {
  display: block;
}

.Menu-Vertical li a {
  display: block;
  color: black;
}

.Menu-Vertical li {
  background-color: yellow;
}

/* --------------------------------- */
/* Sección Formulario */
/* --------------------------------- */

/* CORRECCIÓN: Se unen las clases sin espacio para seleccionar la misma etiqueta */
.seccion.formulario {
  background-color: blue;
  padding: 2.5rem;
  border: 0.313rem solid green;
  border-radius: 0.625rem;
  display: flex;
  justify-content: center;
  margin-bottom: 2.5rem;
  /* Se podría añadir margin-top para que el formulario no quede debajo del header fijo */
  margin-top: 6rem;
}

/* Contenedor del formulario (usando el selector de tu HTML: .div.cont.formulario) */
.cont.formulario {
  background-color: blueviolet;
  padding: 2.5rem;
  border: 0.125rem solid yellow;
  border-radius: 0.5rem;
  /* NOTA: 6.25rem es muy estrecho para width. Se cambió a un valor más sensato o se eliminó */
  /* width: 6.25rem; */
  max-width: 31.25rem;
}

.campo {
  background: rgb(140, 0, 255);
  padding: 0.938rem;
  margin-bottom: 0.938rem;
  border: 0.063rem solid brown;
  border-radius: 0.938rem;
}

.formulario label {
  display: block;
  color: red;
  font-weight: 600;
  margin-bottom: 8px;
}

.formulario input[type="text"],
.formulario select {
  width: 100%;
  padding: 10px;
  border: 1.5px solid blue;
  border-radius: 5px;
}

.formulario select {
  /* Se mantiene el override de color de borde */
  border: 1.4px solid red;
}

.lista.checkbox,
.lista.radio {
  /* Se unen las clases sin espacio para seleccionar la misma etiqueta */
  list-style: none;
  padding: 8px;
  background-color: hsl(350, 100%, 46%);
  border: 1px solid blue;
  border-radius: 1.5px;
}

.formulario button {
  background: white;
  border: 0.125rem solid rgb(140, 0, 255);
  border-radius: 0.365rem;
  padding: 0.625rem 1.25rem;
  cursor: pointer;
}
